body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: #ff6900;
    position: fixed;
    width: 100%;
    z-index:100 ;

    .d-flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

footer{
    background-color: #1a1a1a;
    padding: 10px;
    margin-top: 40px;
    
    .d-flex{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

/* utilities */

.container{
    max-width: 80%;
    margin: auto;
}

ul{
    display: flex;
    justify-content: start;
    list-style: none;
    font-weight: bold;
}

a{
    color: white;
   text-decoration: none;
   padding: 5px;
}


.card{
    padding-top: 100px;
    display: flex;
    justify-content: center;
    gap: 20px;

   
    
    img{
        max-width: 100%;
    }

}

.photo{
position: relative;
width: 350px;
}
    
.top-img{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
.top-img:hover{
    opacity: 1;
}


.heart{
    position: absolute;
    top: 20px;
    right: 0;
    background-color: white;
    padding: 10px;
    display: none;
    
}

.heart:hover{
    color: red;
}

.sales{
    position: absolute;
    background-color: red;
    color: white;
    bottom: 90px;
    left: 0px;
}

.sostenibilità{
    font-weight: bold;
    position: absolute;
    background-color: green;
    color: white;
    bottom: 90px;
    left: 40px;
    font-weight: bold;
}

.last{
    font-weight: bold;
    position: absolute;
    background-color: green;
    color: white;
    bottom: 90px;
    left: 0;
    font-weight: bold;
}


.euro{
    color: red;
    font-weight: bold;
}
.old-price{
    padding: 10px;
    text-decoration: line-through;
}

h3, h4{
    color: white;
}
