body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: #ff6900;
    
}

/* utilities */

.container{
    max-width: 80%;
    margin: auto;
}
.d-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul{
        display: flex;
        justify-content: start;
        list-style: none;
        font-weight: bold;
    }

    a{
         color: white;
        text-decoration: none;
        padding: 10px;
    }

}

.card{
    display: flex;
    justify-content: center;
    padding: 40px;
    
    img{
        width: 300px;
        padding: 8px;
    }

}

.photo{
position: relative;
    
}

.heart{
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: white;
    
    
    

}
