body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: #ff6900;
    
}
.container{
    max-width: 80%;
    margin: auto;
    border: 2px shadow grey;
}
.d-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul{
        display: flex;
        justify-content: start;
        list-style: none;
        font-weight: bold;
    }

    a{
         color: white;
        text-decoration: none;
        padding: 10px;
    }

}

